#login_signup{
	position absolute;
	width: 60%;
	min-height:500px; 
	hight: 100%;
	margin:50px auto;
}

#login_signup .tab-content{
	padding: 45px;
}

#profileEditPage{
	width:90%;
}
	
.btn-file {
	.buttonBackground(@primaryButtonBackground, spin(@primaryButtonBackground, 20));
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: center;
    filter: alpha(opacity=0);
    opacity: 0;
    background: #FF0000;
    cursor: inherit;
    display: block;
}

#portfolio ul li:hover {
	border-color: #428bca;
}

#portfolio ul li .caption {
	
}

#portfolio ul li .caption #texter {
	width: 75%;
	position: absolute;
}

#portfolio ul li .caption #deleter {
	width: 25%;
	height: 25px;
	margin-top: 20px;
	right: 25px;
	position: absolute;
	background-image: url('../images/delete.png');
	background-repeat: no-repeat;
	background-size: 25px;
	float: right;
	opacity: 0;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing: ease-out;
    -o-transition-duration: 0.2s;
    -o-transition-timing: ease-out;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing: ease-out;
    -ms-transition-duration: 0.2s;
    -ms-transition-timing: ease-out;
    transition-duration: 0.2s;
    transition-timing: ease-out
}

#portfolio ul li:hover .caption #deleter {
	opacity: 1;
}