#portfolio li {
	background-color: #ffffff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	border: 1px solid #dedede;
	display: list-item;
}

ul {
	list-style: none;
}

#portfolio li img {
  	display: block;
  	margin: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	width: 240px;
}

#portfolio ul {
  	position: absolute;
}

#portfolio ul li:hover {
	border-color: #428bca;
}

#container {
	position: relative;
}

.disable {
	color: #555 !important;
	pointer-events: none;
  cursor: default;
}
#timeline {
	max-width: 500px;
	margin: 0 auto;
}
#timeline img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.timeline-photo {
	border: 1px solid #dedede;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #FFFFFF 0%, #EAEAEA 100%) repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 1px rgba(0, 0, 0, 0.1), 0 3px 1px rgba(0, 0, 0, 0.05);
    text-shadow: 0 1px 0 #DDDDDD;
}

.timeline-photo:hover {
	border-color:#428bca;
}

.timeline-avatar {
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
	overflow: hidden;
}
.timeline-username {
	display: inline-block;
}
