*{<meta charset="utf-8">}*
#{extends 'Application/header.html' /}
<div id="follower">
#{list items: following_data, as: 'following'}
	<div class="row" style="margin:15px;">
		<!--<div class="col-md-10 col-md-offset-1" style="min-height:200px; background-image: url(http://upload.wikimedia.org/wikipedia/ja/7/7e/Titech_new_lib.jpg); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;">-->
		<div class="col-md-10 col-md-offset-1" style="min-height:182px; background-image: url(${following.followee.cover}); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border-style:solid; border-width:1px;">
			<div class="row">
				<div class="col-md-2">
					<div style="position:absolute; top:15px">
							<a href="@{user(following.followee.id)}"><img height="150px" width="150px" src="${following.followee.avatar}"></a>
					</div>
				</div>
				<div class="col-md-9" style="color:#ffffff; top:15px;">
					<div style = "padding-left: 10px; padding-bottom:4px; background-color:rgba(0, 0, 0, 0.4);">
						<a href="@{user(following.followee.id)}"><h2 style="display:inline; color:#fff">${following.followee.nickname}</h2></a>
						<h5 style="display:inline">${following.followee.profile}</h5>
					</div>
					<div style="margin-top:12px; height: 100px; overflow-x:auto; overflow-y: hidden; white-space: nowrap;">
					#{list items: following.followee.photos, as: 'photo'}
						<a class="image" href="@{photoViewer(photo.url)}" onclick='imgClicked()'>
         					<img height="100px" width="auto" src="${photo.url}" alt="...">
      					</a>
					#{/list}
					</div>
				</div>
				<div class="col-md-1" style="position:absolute; padding:0px; top:15px; right:15px; height:37px;">
					<a href="@{unFollowInFollowerTab(following.followee.id)}"><button class="btn btn-warning" style="height:100%; border-radius: 0 !important;">Unfollow</button></a>
				</div>
			</div>
		</div>
	</div>
#{/list}
</div>