*{<meta charset="utf-8">}*
#{extends 'Application/header.html' /}
<div id="follower">
#{list items: following_data, as: 'following'}
	<div class="row" style="margin:10px;">
		<!--<div class="col-md-10 col-md-offset-1" style="min-height:200px; background-image: url(http://upload.wikimedia.org/wikipedia/ja/7/7e/Titech_new_lib.jpg); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;">-->
		<div class="col-md-10 col-md-offset-1" style="min-height:200px; background-image: url(${following.followee.cover}); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border-style:solid; border-width:1px;">
			<div class="row">
				<div class="col-md-2">
					<div style="position:absolute; top:25px">
							<a href="@{user(following.followee.id)}"><img height="150px" width="150px" src="${following.followee.avatar}"></a>
					</div>
				</div>
				<div class="col-md-9" style="color:#ffffff; top:25px;">
					<div>
						<a href="@{user(following.followee.id)}"><h1 style="display:inline">${following.followee.nickname}</h1></a>
						<h4 style="display:inline">　${following.followee.profile}</h4>
					</div>
					<div style="margin:10px">
					#{list items: following.followee.photos, as: 'photo'}
						#{if photo_index<=5}
						<a class="image" href="@{photoViewer(photo.url)}" onclick='imgClicked()'>
         					<img height="100px" width="auto" src="${photo.url}" alt="...">
      					</a>
							
						#{/if}
					#{/list}
					</div>
				</div>
				<div class="col-md-1" style="position:absolute; top:90px; right:40px">
					<a href="@{unFollowInFollowerTab(following.followee.id)}"><button class="btn btn-success">Unfollow</button></a>
				</div>
			</div>
		</div>
	</div>
#{/list}
</div>