*{<meta charset="utf-8">}*
#{extends 'Application/header.html' /}
<div id="portfolio">
<!--
<ul>
#{list items: photos, as: 'photo'}
	<li id="item">
      	<a class='iframe' href="@{photoViewer(photo.url)}" onclick='imgClicked()'>
         	<img src=${photo.url} alt="...">
      	</a>
      	<div class="caption">
      		<div id="texter">
        		<h3>${photo.title}</h3>
        		<p>${photo.caption}</p>
        	</div>
			<div id="deleter">
      		</div>
    	</div>
 	</li>
#{/list}
</ul>
-->

	<div class="wrapper">
		<div id="main">
			<div id="items" class="row-fluid">
			#{list items: photos, as: 'photo'}
				<div class=" item masonry-brick">
					<div class="picture">
						<a class='iframe' href="@{photoViewer(photo.url)}" onclick='imgClicked()'>
         					<img src=${photo.url} alt="...">
      					</a>
						<div class="item-content">
							<div class="description">
								<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							</div>
							<div class="meta">
								<span>
									<i class="icon-calendar"></i>
									11 May 2013
								</span>
								<span>
									<i class="icon-user"></i>
									<a href="#">John</a>
								</span>
								<span>
									<i class="icon-heart-empty"></i>
									10
								</span>
							</div>
						</div>
					</div>
				</div>
				#{/list}
			</div>
		</div>
	</div>
</div>
