*{<meta charset="utf-8">}*
#{extends 'Application/main.html' /}

<div id="login_signup" class="well">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a href="#login_tab" data-toggle="tab">Login</a></li>
		<li><a href="#signup_tab" data-toggle="tab">Signup</a></li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="login_tab">
			<form class="form-horizontal" role="form" name="login">
	 			<div class="form-group">
	    			<label for="inputName_login" class="col-sm-2 control-label">Name</label>
	    			<div class="col-sm-10">
	      				<input type="text" class="form-control" id="inputName_login" name="inputName_login" placeholder="Name">
	    			</div>
	  			</div>
	  			<div class="form-group">
	    			<label for="inputPassword_login" class="col-sm-2 control-label">Password</label>
	    			<div class="col-sm-10">
	      				<input type="password" class="form-control" id="inputPassword_login" name="inputPassword_login" placeholder="Password">
	    			</div>
	 			 </div>
	  			<div class="form-group">
	    			<div class="col-sm-offset-2 col-sm-10">
	     				<button type="submit" class="btn btn-default">Login</button>
	    			</div>
	  			</div>
			</form>
		</div>
		<div class="tab-pane" id="signup_tab">
			<form class="form-horizontal" role="form" name="signup">
	 			<div class="form-group">
	    			<label for="inputName_signup" class="col-sm-2 control-label">Name</label>
	    			<div class="col-sm-10">
	      				<input type="text" class="form-control" id="inputName_signup" name="inputName_signup" placeholder="Name">
	    			</div>
	  			</div>
	  			<div class="form-group">
	    			<label for="inputPassword_signup1" class="col-sm-2 control-label">Password</label>
	    			<div class="col-sm-10">
	      				<input type="password" class="form-control" id="inputPassword_signup1" name="inputPassword_signup1" placeholder="Password">
	    			</div>
	 			 </div>
	 			 <div class="form-group">
	    			<label for="inputPassword_signup2" class="col-sm-2 control-label"></label>
	    			<div class="col-sm-10">
	      				<input type="password" class="form-control" id="inputPassword_signup2" name="inputPassword_signup2" placeholder="Password(identify)">
	    			</div>
	 			 </div>
	  			<div class="form-group">
	    			<div class="col-sm-offset-2 col-sm-10">
	     				<button type="submit" class="btn btn-default" onclick="signup_check(); return false;">Sign up</button>
	    			</div>
	  			</div>
			</form>
		</div>
	</div>
</div>

<!--
<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>
-->

<!--
<div class="login_signup_tab">
	<a onclick="ChangeTab_login_signup('login');" href="#">ログイン</a>
	<a onclick="ChangeTab_login_signup('signup');" href="#">サインアップ</a>
</div>
<div id='login' style='display: none'>
	<form action="@{post_login_info()}" method="post">
	  <ul>
	    <li>Username
	    	<dt><input name="username" type="text" onKeyPress="return submitStop(event);"/></dt></li>
	    <li>Password
	    	<dt><input name="pass" type="password" onKeyPress="return submitStop(event);"/></dt></li>
	  </ul>
	  <p><input type="submit" value="Login"/></p>
	</form>
</div>
<div id='signup' style='display: none'>
	<form action="@{post_signup_info()}" method="post">
	  <ul>
	    <li>Username
	    	<dt><input name="username" type="text" onKeyPress="return submitStop(event);"/></dt></li>
	    <li>Password
	    	<dt><input name="pass" type="password" onKeyPress="return submitStop(event);"/></dt></li>
	    <li>Password(identify)
	    	<dt><input name="pass_indenify" type="password" onKeyPress="return submitStop(event);"/></dt></li>
	  </ul>
	  <p><input type="submit" value="Signup"/></p>
	</form>
</div>
<script>
 ChangeTab_login_signup('login');
</script>
-->