*{<meta charset="utf-8">}*
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja-JP" xml:lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-theme.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/exp4main.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/header.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/gh-buttons.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/styles.css'}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/styles.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
  
  <script type="text/javascript" src="@{'/public/javascripts/exp4main.js'}"></script>
  <script type="text/javascript" src="@{'/public/javascripts/jquery-1.10.2.js'}"></script>
  <script type="text/javascript" src="@{'/public/javascripts/bootstrap.js'}"></script>
  <script type="text/javascript" src="@{'/public/javascripts/jquery.wookmark.js'}"></script>
  <script type="text/javascript" src="@{'/public/javascripts/jqueryplugin.js'}"></script>
  <title>exp4main</title>
</head>
<body>
<div id="container">
	#{doLayout /}
</div>
</body>
</html>
