*{<meta charset="utf-8">}*
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja-JP" xml:lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script	type="text/javascript"	src="/public/javascripts/profile.js"></script>
  <title>exp4main</title>
</head>
<body>


	<!--
	<div style="position:fixed; color:#FFFFFF; background-color:#000000; top: 0px;left: 0px; width: 100%;">ヘッダー部分</div>
	<div style="position:relative; top:30px;">
		<form action="{editProfile()}" method="post">
			<dl>
			   <dt><label for="name">名前:</label></dt>
			   <dd><input type="text" name="name" size="50" value="" /><dd>
			   <dt><label for="avatar">画像:</label></dt>
			   <dd><img id="avatar" src="/public/images/100x100.png" alt="" width="200" height="200px" border="0" />
			   <input type="file" name="uploadAvatar" accept="image/*" onchange=avatarChange(this)></dd>
			   <dt><label for="profile">自己紹介:</label></dt>
			   <dd><textarea id="profile" rows="5" cols="50"></textarea></dd>
			</dl>
			<input type="submit" value="保存">
			<input type="submit" value="キャンセル">
		</form>
	</div>
	
	-->
</body>
</html>
