*{<meta charset="utf-8">}*
#{extends 'Application/header.html' /}

<!--
<div class="subnav-refresh subnav-view subnav-state-ready" id="subnav-refresh" style="left: 0px; width: auto; ">
    <div class="cover-photo-holder">    	
        <div id="cover-photo" class="cover-photo wviewvert" 
        			style="background-image: url(http://farm6.staticflickr.com/5477/coverphoto/12521320@N08_h.jpg?1376067409#12521320@N08); top: -35px; "></div>
    </div>
    <div class="subnav-middle">
        <div class="sn-avatar sn-avatar-size-300">
            <img class="sn-avatar-mask" height="110" width="110" src="${user.avatar}">
        </div>
        <div class="person">
             <h1>
             	<span class="character-name-holder">  
             	${user.username}
                </span>
            </h1>
             <h2>
                e n e i m ™
            </h2>

        </div>
        <div class="stats">
            <div class="stat statcount">
                 <h1>
                    512
                </h1>

                 <h2>
                    Photos
                </h2>

            </div>
        </div>
   
    	</div>
	</div>
-->

#{list items:results, as:'result'}
<div class="result">
    <div>
        ${result.nickname}
    </div>    
</div>
#{/list}

<div id="portfolio">
<ul>
#{list items: photos, as: 'photo'}
	<li id="item">
      <p><a class='iframe' href="@{photoViewer(photo.url)}" onclick='imgClicked()'>
         <img src=${photo.url} alt="...">
      </a></p>
      
      <div class="caption">
      	<div id="texter">
        <h3>${photo.title}</h3>
        <p>${photo.caption}</p>
        </div>
        <div id="deleter">
      </div>
      </div>
 	</li>
#{/list}
</ul>
</div>
