*{<meta charset="utf-8">}*
#{extends 'Application/header.html' /}




<div id="follower">
#{list items: userList, as: 'user2'}
	<div class="row" style="margin:10px;">
		<div class="col-md-10 col-md-offset-1" style="min-height:200px; background-image: url(http://farm6.staticflickr.com/5477/coverphoto/12521320@N08_h.jpg?1376067409#12521320@N08); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;">
			<div class="row">
				<div class="col-md-2">
					<div style="position:absolute; top:25px">
							<img height="150px" width="150px" src="${user2.avatar}">
					</div>
				</div>
				<div class="col-md-9" style="color:#ffffff; top:25px;">
					<div>
						<h1 style="display:inline">${user2.nickname} </h1>
						<h4 style="display:inline">${user2.profile}</h4>
					</div>
					<div style="margin:10px">
						
						%{List photos = photoMap.get(user2);}%
						#{list items: photos, as: 'photo'}
							<img height="100px" width="auto" src="${photo.url}">	
						#{/list}
						
						
						
					</div>
				</div>
				<div class="col-md-1" style="position:absolute; top:90px; right:20px">
					<button class="btn btn-primary">Unfollow</button>
				</div>
			</div>
		</div>
	</div>
#{/list}
</div>

<div id="portfolio">
	<div class="wrapper">
		<div id="main">
			<div id="items" class="row-fluid">
				#{list items: photoList, as: 'photo'}
				<div class=" item masonry-brick">
					<div class="picture">
						<a class="image" href="@{photoViewer(photo.url)}" onclick='imgClicked()'>
         					<img src=${photo.url} alt="...">
      					</a>
						<div class="item-content">
							<div class="description">
								<h3>${photo.title}</h3>
        						<p>${photo.caption}</p>
							</div>
							<div class="meta">
								<span>
									<i class="icon-calendar"></i>
									${photo.date}
								</span>
							</div>
						</div>
						
					</div>
				</div>
				#{/list}
			</div>
		</div>
	</div>
</div>

