*{<meta charset="utf-8">}*
#{extends 'Application/header.html' /}
<div id="timeline">
				#{list items: photos, as: 'photo'}
				<div class="row">
					<div class="timeline-avatar">
						<a href="javascript:onOpenUserPage(${photo.user.id})" title=${photo.user.username} rel="nofollow">
	            	<img src=${photo.user.avatar}>
	       		</a>
	       	</div>
	       		<a href="javascript:onOpenUserPage(${photo.user.id})" rel="nofollow"><h2 class="timeline-username">${photo.user.username}</h2></a>
				</div>		
						<div class="timeline-photo">
						<a class="image" href="@{photoViewer(photo.url)}" onclick='imgClicked()'>
         					<img src=${photo.url} alt="...">
      					</a>
						<div class="item-content">
							<div class="description">
								<h3>${photo.title}</h3>
        						<p>${photo.caption}</p>
							</div>
							<div class="meta">
								<span>
									<i class="icon-calendar"></i>
									${photo.date}
								</span>
							</div>
						</div>
					</div>
				#{/list}
</div>