*{<meta charset="utf-8">}*
#{extends 'Application/main.html' /}
<!-- Button trigger modal -->
<div class="subnav-refresh subnav-view subnav-state-ready" id="subnav-refresh" style="left: 0px; width: auto; ">
    <div class="cover-photo-holder">
        <div id="cover-photo" 
             class="cover-photo wviewvert" 
             style="background-image: url(http://farm6.staticflickr.com/5477/coverphoto/12521320@N08_h.jpg?1376067409#12521320@N08); top: -35px; ">
        </div>
    </div>
    
    <div class="subnav-middle">
        <div class="sn-avatar sn-avatar-size-300 sn-avatar-editable">
            <img class="sn-avatar-mask" 
                 height="110" 
                 width="110" 
                 src="http://farm4.staticflickr.com/3717/buddyicons/12521320@N08_r.jpg?1386337584#12521320@N08">
                        
        </div>
        <div class="person">
            <h1><span class="character-name-holder">
                Nam Nguyen Hoai
                </span>
            </h1>
            <h2>
                e n e i m ™
            </h2>
        </div>
        <div class="stats">
            <div class="stat statcount">
                <h1>
                    512
                </h1>
                <h2>
                    Photos
                </h2>
            </div>
        </div>
                
        <div class="subnav-holder">
            <ul class="nav-links">
            	<li class="sn-navitem" data-toggle="modal" data-target="#myModal"><a href="#">Upload</a>
            	</li>
                <li class="sn-navitem"><a href="#">Home</a>
                </li>
                <li class="sn-navitem"><a href="#">Timeline</a>
                </li>
                <li class="sn-navitem"><a href="#">Follower</a>
                </li> 
            </ul>
        </div>        
    </div>
</div>
    


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div> -->
      <div class="modal-body">
        <form role="form">
		  <div class="fileupload fileupload-new" data-provides="fileupload">
			  <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
			  <div>
			    <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" /></span>
			    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
			  </div>
			</div>
		  <div class="form-group">
			<div class="input-group">
			  <span class="input-group-addon">Tittle</span>
			  <input type="text" class="form-control" placeholder="Title">
			</div>
			<div class="input-group">
			  <span class="input-group-addon">Tags</span>
			  <input type="text" class="form-control" placeholder="Tags">
			</div>
			<div class="form-group">
		    <label for="caption">Caption</label>
		    <input type="text" class="form-control" id="caption">
		  </div>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Upload</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->